data_collection/data/processed/*.sqlite filter=lfs diff=lfs merge=lfs -text
data_collection/data_sources/search_log.csv filter=lfs diff=lfs merge=lfs -text
data_collection/data/interim/*candidates.json filter=lfs diff=lfs merge=lfs -text
